<div *ngIf="hero">
  <h2>{{ hero.name }} Details</h2>
  <label>ID: </label>
  <p>{{ hero.id }}</p>
  <div>
    <label>Bio: </label>
    <p>{{ hero.bio }}</p>
    <label
      >Name: <input [(ngModel)]="hero.name" placeholder="Hero Name" />
    </label>
  </div>
  <button (click)="save()">Save</button>
  <br />
  <button (click)="goBack()">Back</button>
</div>
