<!--
The double curly braces are Angular's interpolation binding syntax.
This interpolation binding presents the component's title property
value inside the HTML header tag.
-->
<h1>{{ title }}</h1>
<nav>
  <a routerLink="/heroes">Jedi </a>
  <br />
  <a routerLink="/dashboard">Dashboard</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
