<div *ngIf="messageService.messages.length">
  <h2>Jedi Data Retrieval Status</h2>
  <div *ngFor="let message of messageService.messages">{{ message }}</div>
  <br />
  <button class="clear" (click)="messageService.clear()">Clear</button>
</div>
