<!--
The word uppercase in the interpolation binding, right after the pipe operator ( | ), activates the built-in UppercasePipe.
Pipes are a good way to format strings, currency amounts, dates and other display data.
Angular ships with several built-in pipes and you can create your own.
-->
<!-- <h2>{{ hero.name | uppercase }} Details</h2>

<div><span>Hero Number:</span> {{ hero.id }}</div>
<div><span>Name: </span>{{ hero.name }}</div>

<div>
  <label
    >name: -->
<!--
      [(ngModel)] is Angular's two-way data binding syntax.
      Here it binds the hero.name property to the HTML textbox so that data can flow in both
      directions: from the hero.name property to the textbox, and from the textbox back to the hero.name.
     -->
<!-- <input [(ngModel)]="hero.name" placeholder="Hero Name" />
  </label>
</div> -->

<h2>Jedi</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span
      >{{ hero.name }}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">X</button>
  </li>
</ul>

<div>
  <label
    >Jedi name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value = ''">
    add
  </button>
</div>
